.pfp-container {
    margin: 0 7.5%;
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.options {
    position: sticky;
    top: 0;
    // left: 30px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 15px;
    padding: 20px 30px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), var(--background));

    div {
        width: 32;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        :first-child {
            justify-content: flex-start;
        }

        :last-child {
            justify-content: flex-end;
        }
    }
}


.count-pfp {
    margin-left: auto;
}

#uploadPfpInput {
    display: none;
}

.uploadPfpButton {
    display: flex; 
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 12px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.uploadPfpButton:hover {
    transform: scale(1.05);
    background-color: var(--purple);
}

.size-icon {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.size-icon.selected {
    background-color: #595959;
}

.size-icon:hover {
    background-color: #818181;
}