<div>
    <div class="options">
        <div class="display-size">
            <button (click)="currentSize = Size.SMALL">Small</button>
            <button (click)="currentSize = Size.MEDIUM">Medium</button>
            <button (click)="currentSize = Size.LARGE">Large</button>
        </div>
        <input type="text" (keyup)="filter($event)">
        <h3 class="count-pfp">{{ pfpsFiltered.length }}/{{ pfps.length }}</h3>
    </div>
    <div class="pfp-container">
        <ng-container *ngFor="let pfp of pfpsFiltered">
            <app-pfp-box [pfp]="pfp" [size]="currentSize"></app-pfp-box>
        </ng-container>
    </div>
</div>