.pfp-container {
    margin: 0 7.5%;
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.options {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 15px;
    margin: 20px 30px;
    background-color: var(--background);
}

.count-pfp {
    margin-left: auto;
}

.size-icon-container {
    display: flex;
    gap: 5px;
}

.size-icon {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.size-icon.selected {
    background-color: #595959;
}

.size-icon:hover {
    background-color: #818181;
}

#selectPfp {
    display: none;
}