<div>
    <div class="options">
        <!-- Sizing -->
        <div class="left-icon-container">
            <img class="size-icon" [class]="currentSize == Size.SMALL ? 'selected' : ''"
                src="../../assets/icons/Ares_small.png" (click)="currentSize = Size.SMALL" />
            <img class="size-icon" [class]="currentSize == Size.MEDIUM ? 'selected' : ''"
                src="../../assets/icons/Ares_mid.png" (click)="currentSize = Size.MEDIUM" />
            <img class="size-icon" [class]="currentSize == Size.LARGE ? 'selected' : ''"
                src="../../assets/icons/Ares_big.png" (click)="currentSize = Size.LARGE">

            <fa-icon class="sort-icon" [icon]="currentSortStrategy === SortStrategy.Neutral ? faUnsorted : 
                currentSortStrategy === SortStrategy.Ascending ? faAscSort : faDescSort" 
            (click)="this.currentSortStrategy = this.currentSortStrategy === SortStrategy.Neutral ? SortStrategy.Ascending
                : this.currentSortStrategy === SortStrategy.Ascending ? SortStrategy.Descending : SortStrategy.Neutral; filter()"></fa-icon>
            
            <select [(ngModel)]="currentSortType" (change)="currentSortStrategy = SortStrategy.Ascending; filter()"> 
                <option *ngFor="let sortTypeValue of sortTypeValues" [value]="sortTypeValue">{{ sortTypeValue }}</option> 
            </select>
        </div>
        <!-- Searchbar -->
        <app-stuten-searchbar (keyup)="searchBarFilter = $event"></app-stuten-searchbar>
        <!-- End of line -->
        <div class="end-of-header-container">
            <h3 class="count-pfp">{{ pfpsFiltered.length }}/{{ pfps.length }}</h3>
            <input id="uploadPfpInput" type="file" accept="image/png, image/jpeg, image/gif"
                (change)="uploadFile($event)">
            <button class="uploadPfpButton" (click)="openFileExplorerDialog()">
                <fa-icon [icon]="faUpload" onclick="document.getElementById('selectPfp').click();"></fa-icon>
            </button>
        </div>
    </div>
    <div class="pfp-container">
        <ng-container *ngFor="let pfp of pfpsFiltered">
            <app-pfp-box [pfp]="pfp" [size]="currentSize"></app-pfp-box>
        </ng-container>
    </div>

    <!-- Filters div -->
    <div class="filters">

    </div>
</div>