.pfp-box-frame {
    &.small {
        width: 200px;
        min-width: 100%;
    }
    &.medium {
        width: 300px;
    }
    &.large {
        width: 400px;
    }
    max-width: 80vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 15px;
    aspect-ratio: 1;
    cursor: pointer
}

.pfp-box {
    &.small {
        max-width: 180px;
        max-height: 180px;
    }
    &.medium {
        max-width: 270px;
        max-height: 270px;
    }
    &.large {
        max-width: 360px;
        max-height: 360px;
    }
    flex-shrink:0;
    -webkit-flex-shrink: 0;
    margin: 15px; 
    border-radius: 15px;
}

.pfp-box-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
    padding: 4px 0;
    bottom: -88px;
    position: absolute;
    width: 100% !important;
    background-color: var(--secondary);
    color: var(--headline);
    transition: 0.3s ease-in-out;
    p {
        margin-left: 8px;
    }
}

//=======================
// Fancy styling on hover
//=======================
.pfp-box-frame:hover {
    .pfp-box-details {
        bottom: 0px;
    }
}

//=================
// Huge pfp display
//=================
.hugePfp {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.huge-pfp-content {
    min-width: 280px;
    width: 50vw;
    min-height: 60vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 4px;
    background-color: var(--secondary);
}

.huge-pfp-box {
    min-width: 270px;
    width: 45%;
    min-height: 40%;
    max-height: 50%;
    object-fit: scale-down;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    @media (min-width: 1081px) {
        border-radius: 15px 0 0 15px;
    }
    @media (max-width: 1080px) {
        border-radius: 15px 15px 0 0;
    }
}

.huge-pfp-box-details {
    min-width: 270px;
    width: 45%;
    aspect-ratio: 1;
    background-color: var(--secondary);
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

.huge-download {
    cursor: pointer;
    background-color: var(--secondary);
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid var(--primary);
    color: var(--headline);
    transition: 300ms ease-in-out;
}

.huge-download:hover {
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 30px;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}