.search-box {
    min-width: 50px;
    width: fit-content;
    height: 70%;
    position: relative;
}

.btn-search {
    position: absolute;
    right: 0;
    height: 50px;
    padding: 5px;
    width: fit-content;
    background-color: var(--primary);
    border-style: none;
    cursor: pointer;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
}

.search-icon {
    height: 100%;
}

.input-search {
    max-width: 90%;
    width: 0px;
    height: 50px;
    border-style: none;
    outline: none;
    border-radius: 25px;
    background-color: transparent;
    transition: all .5s ease-in-out;
    color: var(--headline);
}

.input-search::placeholder {
    color: var(--headline);
}

.search-box:focus-within, .search-box.focused {
    .input-search {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid var(--headline);
        transition: all 400ms ease-in-out;
    }

    .btn-search {
        background-color: transparent;
        transition: all 400ms ease-in-out;
    }  
}
